<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Inmite Developers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

    <link href="/assets/base.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/assets/public/favicon.ico" />
    
    <script src="/assets/modernizr.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="profile">
        <section class="profile-masthead" id="masthead">
          <header class="profile-logo">
            <div class="profile-logo-image">
              <img alt="Inmite Developers" src="/images/logo.png" />
            </div>
            <div class="profile-name">
              <h1>Inmite Developers</h1>
            </div>
          </header>
          <aside class="profile-summary">
            <div class="summary-location summary-module">
              <a href="http://github.com/inmite">github.com/inmite</a>
            </div>
          </aside>
        </section>

        <section class="profile-content" id="content">
          <!-- TODO header? -->

          <div class="profile-description">
            <p>Developers at <a href="http://inmite.eu">Inmite</a> love open-source!<br />Enjoy our libraries and tools named after famous Czech personalities.</p>
          </div>

          <article class="profile-menu" id="menu">
            <!--
            <nav class="menu-navigation">
              <ul class="menu-navigation-list">
                {{#categories}}
                <li class="menu-navigation-list-item"><a href="#{{index}}">{{name}}</a></li>
                {{/categories}}
              </ul>
            </nav>

            {{#categories}}
            -->
            <div id="{{index}}" class="menu-category">
              <!--
              <h3 class="menu-category-name">{{name}}</h3>
              -->
              {{#has_repos_with_images}}
              <ol class="menu-category-list has-images">
              {{#repos_with_images}}
              <li class="menu-item">
                <div class="menu-item-info{{^description}} has-no-meta-content{{/description}}">
                  <h4 class="menu-item-name">{{name}}</h4>
                  <span class="menu-item-price">{{#website}}<a href="{{website}}" target="_blank">Website</a> &middot; {{/website}}<a href="{{href}}" target="_blank">GitHub</a></span>
                  {{#description}}
                  <p class="menu-item-description">{{description}}</p>
                  {{/description}}
                </div>
                <div class="menu-item-image{{#description}} has-meta-content{{/description}}">
                  <img src="/repo_images/{{name}}.jpg" />
                </div>
              </li>
              {{/repos_with_images}}
              </ol>
              {{/has_repos_with_images}}
              {{#has_repos_without_images}}
              <ol class="menu-category-list">
              {{#repos_without_images}}
              <li class="menu-item">
                <div class="menu-item-info{{^description}} has-no-meta-content{{/description}}">
                  <h4 class="menu-item-name">{{name}}</h4>
                  <span class="menu-item-price">{{#website}}<a href="{{website}}" target="_blank">Website</a> &middot; {{/website}}<a href="{{href}}" target="_blank">GitHub</a></span>
                  {{#description}}
                  <p class="menu-item-description">{{description}}</p>
                  {{/description}}
                </div>
              </li>
              {{/repos_without_images}}
              </ol>
              {{/has_repos_without_images}}
            </div>
            {{/categories}}

            <!--<a id="btn-view-full-menu" class="btn-view-full-menu" href="http://github.com/inmite">&nbsp;</a>-->
          </article>

          <section class="profile-modules" id="modules">

                <h2 class="module-name">Join us</h2>
                <ul class="module-list">
                  <li><a href="http://www.inmite.eu/en/join_us">Would you like to be a part of our team?</a></li>
                  <li><a href="http://www.inmite.eu/en/contact">Would you like to have a mobile app developed?</a></li>
                </ul>
                <br />
                <br />

            <ul class='twitter-columns'>
              <li class="profile-module">
                <h2 class="module-name">Google+</h2>
                <br /><!-- Place this tag where you want the widget to render. -->
                <div class="g-page" data-href="//plus.google.com/110778431549186951626" data-showtagline="false" data-showcoverphoto="false" data-rel="publisher"></div>

                <!-- Place this tag after the last widget tag. -->
                <script type="text/javascript">
                  (function() {
                  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                  po.src = 'https://apis.google.com/js/platform.js';
                  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                  })();
                </script>
              </li>

              <li class="profile-module module-twitter">
                <h2 class="module-name">Twitter</h2>
                <a class="twitter-timeline" href="https://twitter.com/InmiteDev" data-widget-id="425689485653704704">Tweets by @InmiteDev</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              </li>
            </ul>
          </section>
        </section>
      </div>
    </div>

     <footer class="footer">
      <nav class="footer-navigation">
        <p class="copyright">This page has been build using a template from <a href="http://square.github.io/">Square Eng</a> - our big inspiration in open-source.</p>
      </nav>
    </footer>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-337476-22']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
